@import "tailwindcss";
@import "@my-ui/core/tokens.css";

@source "../../../packages/react/src";

body {
  background: var(--my-ui-color-bg);
  color: var(--my-ui-color-fg);
  font-family: var(--my-ui-font-sans);
}
